html {
  background-color: #2a3b4e;
}

body {
  margin: 1em;
  background-color: #fff;
  color: #1e2b31;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  line-height: 1.8;
}

nav {
  height: auto;
  overflow: hidden;
  background-color: #f5f6f7;
}

nav a {
  color: #06BC9B;
  text-decoration: none;
  float: left;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
  display: block;
}

a:focus,
a:hover,
button:hover {
  color: #05a387;
  text-decoration: underline;
}

.active {
  color: #000;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: block;
  position: relative;
  float: left;
}

h1 {
  color: #2a3b4e;
  font-weight: bold;
  text-align: center;
  justify-content: space-around;
  padding: 180px;
  background-color: #f5f6f7;
  margin: 0;

}

h2 {
  color: #06BC9B;
  padding: .5em;
}

h3,
h4 {
  color: #1ba49c;
  padding: .5em;
}

.container {
  position: relative;
  display: inline-flex;
  padding: 1em;
}

.box {
  float: left;
  width: 33%;
  margin: .5em;
  text-align: center;
  background-color: #f5f6f7;
  color: #2a3b4e;
}

p {
  padding: .5em;
}

img {
  background-color: #33485F;
  width: 250px;
  height: 210px;
}

img:hover {
  box-shadow: 0 0 3px 2px #06BC9B;
}

footer {
  font-size: 16px;
  color: #fff;
  background-color: #33485F;
  padding: 20px;
  text-align: center;
}

.social a {
  border-radius: 50%;
  width: 2em;
  height: 2em;
  position: relative;
  display: inline-block;
  margin-left: .1em;
  margin-right: .1em;
  font-size: 18px
}

.social a:hover {
  background-color: #06BC9B;
}

.github {
  background-color: #fff;
  color: black;
}

.linkedin {
  background-color: #0077b5;
  color: white;
}

.button {
  position: relative;
  padding: 1em;
}

button {
  color: #33485F;
  border: solid #33485F;
  background-color: none;
}



/*
Color palette
#06BC9B green
#05a387 hover green
#1ba49c dark green
#33485F navy
#2a3b4e dark navy
#525d68 gray
#f5f6f7 lighter gray
#3c444b dark gray
*/